@model IndexURLParameter

<div>
	<label style="white-space: nowrap; text-align: left; font-size: 60px; font-weight: 700; font-style: normal; text-decoration: none; font-family: &quot;Segoe UI&quot;; color: rgb(0, 0, 0);">WordCounter Application</label>
</div>
<br />
<br />
<form id="indexfrm" asp-action="Index" asp-controller="Home">

	<input asp-for="url" name="url" class="long-box" id="urlInput"  placeholder="Type Url and press enter" /><input type="button" id="jsSubmit" name="jsSubmit" value="JS Submit" />

</form>
<br />
<br />
<div id="mainBody">
	@if (Model != null)
	{
	
		Html.RenderPartial("MainBody.cshtml", Model.mainBody);
	
	}
</div>